:root {
  --primary-color: #005fff;
  --primary-color-alpha: #005fff1a;
}

html, 
body{
  margin : 0;
  padding: 0;
  height: 100%
}
root{
  height: 100%;
}
.form-container{
  
  box-shadow: 0 5px 8px 0 rgba(0,0,0,2),0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 0px;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 0.6fr;
}
.auth-label{
font-weight: 100;
font-family: Arial, Helvetica, sans-serif;
font-size: 121%;
color: #050505;

}
.auth-login{
  margin-top:5rem;
  margin-left: 13%;
  font-size: .875rem;
  line-height: 1.25rem;
  color: #050505;
  font-size: 200%;
}
.form{
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 21.5rem;
  display: flex;
  margin-left: 7%;
  justify-content: center;
}
.form-right-container{
  background: linear-gradient(
    90deg,
    rgb(39, 42, 44) 0%,
    rgba(7, 10, 10, 0.171) 100%
  );
  border-radius: 0px 0 0 0px;
  position: relative;
}
.form-left-container{

  border-radius: 0 0px 0px 0;
  position: relative;
  background-color: #fff;
  justify-content: center;
}

.auth-form-field{
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.form-input{
  border: 1px solid lightgray;
	height: 34px;
	padding: 0 20px;
  width: 21rem;
  margin: 0.54rem;
  border-radius: 0.4rem;
}
/*.form-input :focus{
  animation: glow 800ms ease-out infinite alternate;
	outline: none;
}

@keyframes glow {
  0% {
  box-shadow: 0 0 5px rgba(0,255,0,.2);
  }	
  100% {
  box-shadow: 0 0 20px rgba(0,255,0,.8);
  }
}*/

.auth-form-field{
  position: relative;
  /* margin-bottom: 0.4rem; */
  /* margin-top: 0.3rem; */
  width: 55%;
  margin: 16px;
}

.form-label{
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #fff;
}

.form-input-submit{
    padding: 1.5rem 3.5rem 1.5rem 3.5rem;
    display: block;
    border: none;
    border-radius: 0.4rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: white;
    background-color: #5138ee;
    /* width: 24rem; */
    width: 50%;
    margin: 2;
    height: 29px;
    margin-left: 1rem;
    margin-top: 1.5rem;
}


.line{
  width: 53px;
  height: 0;
  border: 1px solid #C4C4C4;
  margin: 3px;
  display:inline-block;

}
.auth-login-p{
  margin-top:1rem;
  margin-left: 13%;
  font-size: .875rem;
  line-height: 1.25rem;
  color: #050505;
  font-size: 93%;
}
.span{
  color: #005fff;
}
.sign-in {
  padding-right: 0.5rem;
}

.footer-auth-buttons{
  margin-bottom: 0.8rem;
}
.footer-p{

}
.form-right-container{
  
}

.header{
  padding: 30px;
  height: 30px;
  background-color: #5138ee;
}

.sidenav{
  width: 200px;
  background-color: #0b2655;
  position: fixed;
  height: 100vh;
  left: 0;

}
.sidebar_item {
  padding: 0 20px;
}

.sidebar_inner_item {
  padding: 10px  15px;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: color 0.3s ease 0s;
}

.sidebar_inner_item > i {
  margin-right: 10px;
  font-size: 1.5rem;
}

.sidebar_inner_item > span {
  text-transform: capitalize;
}

.sidebar_inner_item:hover {
  color: blue;
}

